.add-user-container {
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 254, 254, 0.5)), 

  url('https://media.istockphoto.com/id/1404046699/vector/classroom-night-2d-anime-background-illustration.jpg?s=612x612&w=0&k=20&c=UD6mr2hPsVdaG-ZifoQl5nVcs3OwzFUIMMYDjx30JMc=');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 20px); /* Subtract the height of the navbar (adjust as necessary) */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  align-items: center;
  padding:20px;
  color: #f0e7e7;
  font-family: Arial, sans-serif;
  margin-top: 0px; /* Add margin to push the form below the navbar */
}

.page-heading {
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 20px;
  color: #000;
}

.add-user-form {
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
  display: grid;
  gap: 20px;
}

.inline-fields {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.inline-fields label {
  width: 30%;
}

.inline-fields input,
.inline-fields select {
  width: 75%; /* Adjust width to match the label */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1rem;
}

.add-user-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

.add-user-form button:hover {
  background-color: #0056b3;
}
